<div class="container">
  <form class="form-register"
        #registerForm="ngForm"
        (ngSubmit)="register(registerForm)">
    <div class="container-fluid">
      <h2 class="form-register-heading">Register</h2>
      <div *ngIf="response.text"
           class="alert alert-danger">{{response.text}}</div>
      <br>
      <label for="firstname"
             class="sr-only">First name</label>
      <input type="text"
             id="firstname"
             name="firstname"
             ngModel
             class="form-control"
             placeholder="Enter your first name"
             required>
      <br>
      <label for="middlename"
             class="sr-only">Middle name</label>
      <input type="text"
             id="middlename"
             name="middlename"
             ngModel
             class="form-control"
             placeholder="Enter your middle name"
             required>
      <br>
      <label for="lastname"
             class="sr-only">Last name</label>
      <input type="text"
             id="lastname"
             name="lastname"
             ngModel
             class="form-control"
             placeholder="Enter your last name"
             required>
      <br>
      <label for="username"
             class="sr-only">Username</label>
      <input type="text"
             id="username"
             name="username"
             ngModel
             class="form-control"
             placeholder="Enter your username"
             required>
      <br>
      <label for="age"
             class="sr-only">Age</label>
      <input type="number"
             min="0"
             max="150"
             id="age"
             name="age"
             ngModel
             class="form-control"
             placeholder="Enter your age"
             required>
      <br>
      <label for="email"
             class="sr-only">Email</label>
      <input type="email"
             id="email"
             name="email"
             ngModel
             class="form-control"
             placeholder="Enter your email"
             required>
      <br>
      <label for="password"
             class="sr-only">Password</label>
      <input type="password"
             id="password"
             name="password"
             ngModel
             class="form-control"
             placeholder="Enter your password"
             required>
      <br>
      <label for="password2"
             class="sr-only">Password</label>
      <input type="password"
             id="password2"
             name="password2"
             ngModel
             class="form-control"
             placeholder="Enter your password again"
             required>
      <br>
      <button class="btn btn-secondary "
              type="submit">Submit</button>
      <br>
    </div>
  </form>
</div>