<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container-fluid">
      <a class="navbar-brand"
         aria-current="page"
         href="home">Game Store</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
           id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link"
                  href="browse">Browse</a>
            </li>
         </ul>
         <a class="btn btn-outline-info"
            id="add-btn"
            role="button"
            [routerLink]="['/add']">Add game</a>

         <a class="btn btn-outline-secondary"
            href="login"
            role="button"
            *ngIf="!signed">Sign in</a>

         <a class="btn btn-outline-secondary"
            role="button"
            *ngIf="signed"
            (click)="logOut()">Log out</a>
         <div class="user-container"
              *ngIf="signed">
            <p>Welcome, {{firstname}}</p>
         </div>
      </div>
   </div>
</nav>