<div class="container">
  <ng-template #content
               class="modal"
               let-modal>
    <div class="modal-header">
      <h4 class="modal-title"
          id="modal-basic-title">Editing game</h4>
      <button type="button"
              class="btn btn-outline-dark"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-add [inModal]="true"
               [element]="element"
               [nameExists]="exists"
               [message]="message"></app-add>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-outline-dark"
              (click)="modal.close('Back click')">Back</button>
      <button type="button"
              class="btn btn-danger"
              (click)="edit()"
              data-dismiss="modal">Confirm</button>
    </div>
  </ng-template>
</div>

<button type="button"
        class="btn btn-primary"
        (click)="open(content)">Edit</button>