<ng-template #content
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">Warning</h4>
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">{{element.name}}</span>?</strong></p>
    <p>All information associated will be permanently deleted.
      <span class="text-danger">This operation cannot be undone.</span>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Back click')">Back</button>
    <button type="button"
            class="btn btn-danger"
            (click)="modal.close('Confirm click'); delete()">Confirm</button>
  </div>
</ng-template>

<button type="submit"
        class="btn btn-danger"
        (click)="open(content)">Delete</button>