<h1>{{game.name}}</h1>
<div class="container">
        <div class="container-picture"
             *ngIf="game.logoUrl">
                <img [src]=game.logoUrl
                     width="299"
                     height="169">
        </div>
        <h2 *ngIf="game.description">Game Description:</h2>
        <p class="information">{{game.description}}</p>
        <h2>Release year:</h2>
        <p class="information">{{game.releaseYear}}</p>
        <h2>Price:</h2>
        <p class="information">{{game.price | currency}}</p>
        <h2>Publisher:</h2>
        <p class="information"
           *ngIf="game.company">{{game.company.name}}, {{game.company.nation.name}}</p>

</div>
<h2 id="section-header">Review section</h2>

<div class="review-section">
        <h3 id="emptySection"
            *ngIf="reviewsEmpty">Review section is <strong>empty</strong>. Be the first to add a review!</h3>
        <div *ngFor="let review of reviews">
                <h3 *ngIf="review">{{review.userDtoSmall.firstName}} {{review.userDtoSmall.lastName}}:</h3>
                <p>"{{review.text}}"</p>
        </div>
</div>
<div class="buttons">
        <app-edit-modal [element]="game"></app-edit-modal>
        <app-delete-modal [element]="game"></app-delete-modal>
</div>