h1{
 text-align: center;
}
h3{
  font-size: 18px;
}
h3 + p{
  font-style: italic;
}
.container{
  text-align: left;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px 10px;
  margin-bottom: 5rem;
  min-width: 325px;
}
.container-picture{
  float: right;
  margin-top: 2px;
  }
.buttons{
  text-align: center;
}
.information{
  font-size: 20px;
}
.review-section{
  font-size: 16px;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px 10px;
  margin:0 auto;
  margin-bottom: 1rem;
  padding: 5px;
}
#emptySection{
  text-align: center;
}
#section-header{
  text-align: center;
  font-style: oblique;
}