<div>
  <div class="input-group mb-3">
    <input type="text"
           name="name"
           [(ngModel)]="filter.name"
           class="form-control"
           placeholder="Type in to search"
           aria-describedby="button-search">
    <select class="form-select"
            [(ngModel)]="filter.companyName">
      <option value=""
              selected
              hidden
              disabled>Select Game Company</option>
      <option>All Companies</option>
      <option *ngFor="let company of companies"
              value="{{company.name}}">"{{company.name}}"</option>
    </select>

    <select class="form-select"
            [(ngModel)]="filter.releaseYear">
      <option value=""
              selected
              hidden
              disabled>Select Release Year</option>
      <option>All Years</option>
      <option *ngFor="let year of years"
              value="{{year}}">{{year}}</option>
    </select>

    <input type="text"
           name="price"
           [(ngModel)]="filter.price"
           class="form-control"
           placeholder="Type in to search"
           aria-describedby="button-search">


    <button class="btn btn-outline-secondary"
            (click)="search()"
            type="button"
            id="button-search">Search</button>

  </div>

  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="col"
            (click)="currentSort='#'; sort()">#</th>
        <th scope="col"
            (click)="currentSort='Name'; sort()">Name</th>
        <th scope="col">Description</th>
        <th scope="col"
            (click)="currentSort='Release Year'; sort()">Release year</th>
        <th scope="col"
            (click)="currentSort='Price'; sort()">Price</th>
        <th scope="col"
            (click)="currentSort='Company'; sort()">Compnay</th>
        <th scope="col"></th>
    </thead>
    <tbody>
      <tr class="table-secondary"
          *ngFor="let game of games; index as i">
        <th>{{game.id}}</th>
        <td>{{game.name}}</td>
        <td>{{game.description}}</td>
        <td>{{game.releaseYear}}</td>
        <td>{{game.price | currency}}</td>
        <td>{{game.company.name}}</td>
        <td>
          <a class="btn btn-outline-info"
             role="button"
             [routerLink]="['/browse', game.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div ngbDropdown>
      <button class="btn btn-outline-secondary"
              ngbDropdownToggle>Select Year</button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem
                *ngFor="let year of years">{{year}}</button>
      </div>
    </div>
  -->