<div class="container">
  <form>
    <div class="alert alert-danger"
         role="alert"
         *ngIf="toggle || nameExists">
      {{message.text}}
    </div>
    <div class="form-group col-md-10">
      <label for="inputName">Name</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="game.name"
             name="name"
             #name="ngModel"
             required
             placeholder="Name">
    </div>
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Name is required!
    </div>

    <div class="form-group col-md-10">
      <label for="inputDescription">Description</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="game.description"
             name="description"
             #description="ngModel"
             placeholder="Description">
    </div>

    <div class="form-group col-md-4">
      <label for="inputAddress">Release Year</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="game.releaseYear"
             name="releaseYear"
             #releaseYear="ngModel"
             min="1900"
             [max]="maxYear"
             required
             placeholder="Between 1900 - {{maxYear}}">
    </div>
    <div class="small-alert">
      <div [hidden]="releaseYear.valid || releaseYear.pristine"
           class="alert alert-danger">
        Release Year input is invalid!
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="inputPrice">Price</label>
      <div class="input-group">
        <input type="number"
               class="form-control"
               [(ngModel)]="game.price"
               name="price"
               #price="ngModel"
               min="0"
               [max]="maxPrice"
               required
               placeholder="Between 0 - {{maxPrice}}">
        <div class="input-group-append">
          <span class="input-group-text">$</span>
        </div>
      </div>
    </div>
    <div class="small-alert">
      <div [hidden]="price.valid || price.pristine"
           class="alert alert-danger">
        Price input is invalid!
      </div>
    </div>
    <div class="form-group col-md-10">
      <label for="inputLogo">Logo url</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="game.logoUrl"
             name="logoUrl"
             #logoUrl="ngModel"
             placeholder="Logo url">
    </div>

    <div class="form-group col-md-10">
      <label for="inputPublisher">Publisher</label>
      <input class="form-control"
             type="text"
             [placeholder]="publisher"
             readonly>
    </div>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="name.invalid || releaseYear.invalid || price.invalid"
            *ngIf="!inModal"
            (click)="submit()">Submit</button>
  </form>
</div>