<div class="container">
       <form class="form-signin"
             #loginForm="ngForm"
             (ngSubmit)="login(loginForm)">
              <div class="container-fluid">
                     <h2 class="form-signin-heading">Login</h2>
                     <div *ngIf="response.text"
                          class="alert alert-danger">{{response.text}}</div>
                     <br>
                     <label for="username"
                            class="sr-only">Username</label>
                     <input type="email"
                            id="username"
                            name="username"
                            ngModel
                            class="form-control"
                            placeholder="Enter your username"
                            required
                            autofocus>
                     <br>
                     <label for="password"
                            class="sr-only">Password</label>
                     <input type="password"
                            id="password"
                            name="password"
                            ngModel
                            class="form-control"
                            placeholder="Enter your password"
                            required>
                     <br>
                     <button class="btn btn-secondary "
                             type="submit">Submit</button>
                     <br>
              </div>
       </form>
       <button id="btn-create"
               class="btn btn-outline-secondary btn-sm"
               [routerLink]="['/register']">Create account</button>
</div>